<div class="jumbotron"><h1>Homepage</h1></div>

<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">Panel Content</div>
  </div>
</div>