<div class="jumbotron"><h1>Homepage</h1></div>
<div class="container">
{{#each SiteDetails}}
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{this.CompanyName}}</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">{{this.ResponseEmail}}</p>
  </div>

</div>
{{/each}}
</div>

<script>
  
</script>