<style>
html, body {
    height: 100%;
    }
    body {
            background: url('images/naturebackground.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        }
</style>

<div class="d-flex h-100">
  <div class="col-md-3 m-auto">
    <div class="card card-body">
      <div class="card-header card-header-primary">
        {{>messages}}
        <h2 class="card-title text-center mb-3">Login</h2>
      </div>
      <form action="/PostSiteConfig" method="POST">
        <div class="form-group">
          <input type="text" id="CompanyName" name="CompanyName" class="form-control" value="{{SiteDetails.CompanyName}}" />
        </div>
        <div class="form-group">
          <input type="text" id="ConcurrentReserve" name="ConcurrentReserve" class="form-control" value="{{SiteDetails.ConcurrentReserve}}" />
        </div>
        <div class="form-group">
          <input type="text" id="ResponseEmail" name="ResponseEmail" class="form-control" value="{{SiteDetails.ResponseEmail}}" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
