/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #c4c4c4;
  background: linear-gradient(to right, rgb(187, 228, 255), rgb(156, 224, 255));
}